.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

body{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(187, 249, 140));
    height: 100vh;
}

.container{
    max-width: 955px;
    background-image: url("whatsappBackground.jpg");
    background-color: rgb(227, 248, 204);
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;

}

.message{
    background-color: rgb(185, 254, 81);
    
    width: 24%;
    padding: 10px;
    margin: 17px 2px;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
    padding: 20px;
    top: 90%;
    bottom: 10%;
}

#messageInp{
    width: 92%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid white;
    
}

.btn{
    cursor: pointer;
    width: 58px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid white;
}